@import 'components';

.default_body {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    overflow: hidden;

    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .react {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        animation: anim__rotate 8.2s linear infinite;

        &__spoke {
            position: absolute;
            border: .45rem #55DBF8 solid;
            height: 4rem;
            width: 11rem;
            border-radius: 250%;


            &--1 {
                transform: rotate(60deg);

            }

            &--2 {
                transform: rotate(-60deg);

            }

            &--3 {
                height: 2.2rem;
                width: 2.2rem;
                background-color: #55DBF8;
                border-radius: 50%;
                position: absolute;
            }
        }
    }

    @keyframes anim__rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

// Bài Tập Buổi 2 - Thử Kính
.GlassVirtual {
    background: url(../img/glassesImage/background.jpg);
    background-size: cover;
    height: 100%;

    h1 {
        font-weight: 600;
        text-transform: uppercase;
        color: #ecdd00;
        background-color: rgba($color: #000000, $alpha: .5);
    }

    .GlassList {
        background-color: #fff;
    }

    .left-image {
        img {
            width: 100%;
        }
    }

    .right-image {
        position: relative;

        img {
            // @extend .left-image;
            object-fit: cover;
        }

        .info-glass {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .glass-demo {
                img {
                    position: absolute;
                    width: 50%;
                    top: 25%;
                    left: 25%;
                }
            }

            .info {
                background-color: rgba($color: #000000, $alpha: .7);

                a {
                    background-color: #f00;
                    color: #f1f1f1;
                    padding: 7px 15px;
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                span {
                    color: #00ff00;
                    margin-left: 10px;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }

    .GlassList {
        img {
            cursor: pointer;
        }
    }
}

.cart-count {
    position: fixed;
    top: 10px;
    right: 10px;

    .cd-cart-count {
        position: relative;
        top: -30px;
        right: 20px;
        padding: 5px 9px;
        border-radius: 50px;
    }
}

// TodoList Remake - TodoList By Using React Hook
.toDoList_ReactHook {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #FEE9F0;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    ul {
        padding-left: 0 !important;
    }

    .card {
        margin: 50px auto;
        background-color: #f5f8f9;
        width: 350px;
        box-shadow: 0 0 6px grey;
        overflow: hidden;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    .card__header {
        height: 215px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(71, 32, 84, 0.2);
        }
    }

    .card__body {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -35px;
            left: -50px;
            background-color: #f5f8f9;
            height: 100px;
            width: 120%;
            display: block;
            transform: rotate(10deg);
        }
    }

    .card__content {
        position: relative;
        padding: 0 20px;
    }

    .card__title {
        p {
            font-size: 0.8rem;
        }
    }

    .filter-btn {
        position: absolute;
        z-index: 2;
        right: 0;
        width: 40px;
        height: 40px;
        transition: all 0.4s ease-in-out 0s;

        span {
            i {
                width: 40px;
                height: 40px;
                background: #FA396B;
                display: block;
                position: absolute;
                right: 25px;
                top: -30px;
                text-align: center;
                color: #fff;
                line-height: 40px;
                border-radius: 50%;
                font-size: 1rem;
                z-index: 999;
            }
        }

        a {
            position: absolute;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            right: 25px;
            display: block;
            top: -30px;
            color: #fff;
            z-index: 99;
            font-size: 1.2rem;
            transition: all .4s cubic-bezier(.68, 1, .265, 1);
        }

        &:after {
            height: 150px;
            width: 150px;
            content: '';
            background-color: #FA396B;
            position: absolute;
            top: -86px;
            right: -35px;
            border-radius: 50%;
            transform: scale(0);
            transition: all 0.3s ease-in-out 0s;
        }

        .fa-times {
            display: none;
        }

        .fa-filter {
            display: block;
        }
    }

    span.toggle-btn {
        &:hover {
            cursor: pointer;
        }
    }

    .filter-btn.open {
        span.toggle-btn {
            i {
                background-color: #DE3963;
            }
        }

        .fa-times {
            display: block;
        }

        .fa-filter {
            display: none;
        }

        a {
            &:nth-child(1) {
                transform: translate(9px, -48px);
            }

            &:nth-child(2) {
                transform: translate(-42px, -26px);
            }

            &:nth-child(3) {
                transform: translate(-39px, 29px);
            }

            &:nth-child(4) {
                transform: translate(6px, 52px);
            }
        }
    }

    .open {
        &:after {
            transform: scale(1);
        }
    }

    .card__add {
        display: flex;
        position: relative;
        margin-top: 5px;

        input {
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-indent: 18px;
            background: rgba(222, 57, 99, 0.6);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 0px;
            box-shadow: none;
            outline: none;

            &::placeholder {
                color: #fff;
            }
        }

        button {
            border: none;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            box-shadow: 0 0 0 2px rgba(222, 57, 99);
            cursor: pointer;
            outline: none;
        }

        i {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            background: #fff;
            line-height: 40px;
            color: #DE3963;
        }
    }

    ul.todo {
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-height: 30px;
            font-size: 0.8rem;
            font-weight: 500;
            color: #444;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 2px rgba(44, 62, 80, 0.3);
            margin: 0 0 10px 0;
            padding: 0 10px;
            word-break: break-word;

            .buttons {
                button {
                    background: none;
                    border: 0px;
                    box-shadow: none;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    padding: 5px 0 5px 5px;
                    font-size: 1rem;
                }

                .remove {
                    color: #aaa;

                    &:hover {
                        color: #FA396B;
                    }
                }

                .complete {
                    color: #aaa;

                    &:hover {
                        color: #25b99a;
                    }
                }
            }
        }
    }

    ul.todo#todo {
        padding-top: 30px;

        &:empty {
            &:after {
                content: 'You have nothing to-do!';
                margin: 15px 0 0 0;
            }
        }

        &:after {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 12px;
            color: #aaa;
        }

        li {
            .buttons {
                .complete {
                    .fas {
                        display: none;
                    }

                    .far {
                        display: block;
                    }
                }
            }
        }
    }

    ul.todo#completed {
        position: relative;
        padding: 30px 0;

        &:before {
            content: '';
            width: 150px;
            height: 1px;
            background: #d8e5e0;
            position: absolute;
            top: 14px;
            left: 50%;
            margin: 0 0 0 -75px;
        }

        &:empty {
            &:after {
                content: 'You have yet to complete any tasks.';
            }
        }

        &:after {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 12px;
            color: #aaa;
        }

        li {
            .buttons {
                .complete {
                    .fas {
                        display: block;
                        color: #25b99a;
                    }

                    .far {
                        display: none;
                    }
                }
            }
        }

        span {
            color: #25b99a;
        }
    }

}